@using AleynaBlog.Models;

<div class="sidebar_tags sidebar-padd mar-1">
    <div class="inner-title">
        <h3>#Etiketler</h3>
    </div>
    <ul>
        @foreach (Tag tag in ViewBag.etiketlerim)
         {
            <li><a href="#" class="tran3s">@tag.Name</a></li>
         }
    </ul>
</div> <!-- End of .sidebar_tags -->
