<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>Beni arayın  0(544) 503 86 39</h3>
                    <div class="text">Konaklar Mahallesi Öğrt. Ömer Çebi Caddesi, Serhat Sk. No:5, 61100 Merkez/Trabzon</div>
                </div>
            </div>
            
            <!--İletisim-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="@Url.Action("Index","Contact")" class="btn-style-two">İletişim</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Services Two-->

